body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#services{
    background-color: rgba(0, 0, 0, 0.925);
    
    height: 10px;
    width: 10px;
}
#services h1{
    display: none;
}
#services .col-md-4{
    display: none;
}
.caption
{

    background-color:rgba(0, 0, 0, .7);
    width: 80%;
    bottom: 20px ;
    left: 10%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0,.10);
    border-radius: 10px;
    transition: 1s all;
    display: none;
    /* animation: mymove 3s ;
    animation-duration: 3s; */
   
}
@keyframes mymove {
    0% {border-color:gray; width: 100%;}
  }
.caption h2{
    color: #000;
}
#lightBoxContainer{
    position: fixed;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color:rgba(0, 0, 0, 0.70);

}
#lightBoxItem{
    width: 50%;
    height: 500px;
    background-image: url(../images/1.jpg);
    background-size: cover;

}
#close{
    position: absolute;
    top: 3px;
    right:3px;
    color:#000;
    transition: 1s all;
}
#lightBoxItem i{
    cursor:pointer;
    color:whitesmoke;
} 
/* #prev{
    animation: movee 3s infinite;

}
#next{
    animation: movee 3s infinite;
} */

/* @keyframes movee {
    0% {color:gray; width: 100%;}
  } */
  

  .caption:hover{
      /* transform: translateX(10px); */ 
      transform: translateY(33px);
      background-color:rgb(197, 206, 206);
  }
  #close:hover{
      /* transform: translateY(-35px); */
      transform: scale(2);
      color: #000;
  }
  #next{
    transition: 1s all;
  }
  #next:hover{
    transform: translateX(15px); 
    color: #000;  
  }
  #prev{
    transition: 1s all;
    
  }
  #prev:hover{
    transform: translateX(-15px); 
    color: #000;  
  }
  /* .test{
      height: 100px;
      width: 200px;
      background-color: coral;

    } */